[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.6"
pytest-cov = "*"
codacy-coverage = "*"

[packages]
gen3utils = {editable = true,path = "."}

[requires]
python_version = "3.6"
dictionaryutils = "3.0.0"
gen3datamodel = "3.0.0"
gen3dictionary = "2.0.1"
gen3git = "~0.2.3"
packaging = "~20.0"
psqlgraph = "3.0.0"
pyyaml = ">=5.1"
six = ">=1.12.0" # for psqlgraph
