[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.6"
pytest-cov = "*"
codacy-coverage = "*"

[packages]
gen3utils = {editable = true,extras = ["s3", "validate"],path = "."}

[requires]
python_version = "3.6"
