[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=3.6"
pytest-cov = "*"
codacy-coverage = "*"

[packages]
gen3utils = {editable = true,path = "."}

[requires]
python_version = "3.6"
dictionaryutils = "2.0.7"
pyyaml = ">=5.1"