#######################
# VALIDATIONS TO SKIP #
#######################
# The commons and the microservice which don't need validation.

avoid:
  qa-mickey.planx-pla.net:
  - "sower"


####################
# BLOCK VALIDATION #
####################
# Validation for the manifest blocks required by some services
# The version should contains at least min or max.
# /!\ max is < not <=. min is >=

block:
  # Arborist higher than 2.0.0 requires arborist block to have deployment_version
  arborist:
    version:
      min: "2.0.0"
      #max: "3.0.0"
    has: deployment_version
  # hatchery requires hatchery block to have sidecar
  hatchery:
    has: sidecar
    # hatchery may be in its own hatchery.json file
    optional: "true"
  # sower requires a sower block
  sower: "true"
  # guppy requires a guppy block
  guppy: "true"


######################
# VERSION VALIDATION #
######################
# Validation for service couples that need matching versions
# /!\ max is < not <=. min is >=

versions:
- fence: "3.0.0"
  needs:
    arborist: "2.0.0"
  desc: "centralized auth. fence higher than 3.0.0 requires arborist higher than 2.0.0"
- fence: "4.6.0"
  needs:
    arborist: "2.3.0"
  desc: "synapse integration. fence higher than 4.6.0 requires arborist higher than 2.3.0"
- fence:
    min: "4.4.0"
    max: "4.5.0"
  needs:
    arborist:
      min: "2.2.0"
      max: "2.2.1"
  desc: "Fence 4.4.x requires Arborist == 2.2.0. Arborist 2.2.0 adds the PUT /policy/{policyID} endpoint (but keeps the old one). Arborist 2.2.1 PUT policy endpoints no longer implicitly upsert"
- peregrine: "2.0.0"
  needs:
    arborist: "2.1.0"
  desc: "peregrine integration with arborist needs arborist endpoint /auth/mapping (arborist higher than 2.2.1)"
- hatchery: "*"
  needs:
    wts: "*"
    ambassador: "*"
  desc: "hatchery requires wts and ambassador"
- guppy: "*"
  needs:
    aws-es-proxy: "*"
  desc: "guppy requires aws-es-proxy"
- tube: "*"
  needs:
    spark: "*"
    aws-es-proxy: "*"
  desc: "tube requires spark and aws-es-proxy"
