#The commons and the microservice which doesn't need validation. 
avoid:
  qa-mickey.planx-pla.net: 'sower'
#Validation for particular microserivce which has block requirement in cdis-manifest
block:
  #Arborist higher than 2.0.0 requiresarborist block has deployment_version
  #The version should contains at least min or max.
  #max is < not <=. min is >=
  arborist:
    version:
      min: '2.0.0'
      #max: '3.0.0'
    has: deployment_version
  #hatchery requires hatchery block has sidecar
  hatchery:
    has: sidecar
  #sower requires a sower block
  sower: 'true'
  #guppy requires a guppy block
  guppy: 'true'
#Validation for microservice in cdis-manifest versions
versions:
  #fence higher than 3.0.0 requries arborsit higher than 2.0.0
  #centralized auth 
- fence: '3.0.0'
  needs:
  - arborist: '2.0.0'
  #fence higher than 4.6.0 requries arborsit higher than 2.3.0
  #synapse integration
- fence: '4.6.0'
  needs:
  - arborist: '2.3.0'
  #Fence 4.4.x requires Arborist == 2.2.0
  #Arborist 2.2.0 adds the PUT /policy/{policyID} endpoint (but keeps the old one)
  #Arborist 2.2.1 PUT policy endpoints no longer implicitly upsert
  #max is < not <=. min is >=
- fence: 
    min: '4.4.0'
    max: '4.5.0'
  needs:
  - arborist:
      min: '2.2.0'
      max: '2.2.1'
  #indexed higher than 2.0.0 requires fence higher than 2.0.0
  #centralized auth
- indexd: '2.0.0'
  needs: 
  - fence: '3.0.0'
  #peregrine:2.0.0 needs arborist higher than 2.2.1
  #peregrine integration with arborist needs arborist endpoint /auth/mapping
- peregrine: '2.0.0'
  needs:
  - arborist: '2.1.0'
  #hatchery requires wts and manifestservice 
- hatchery: "*"
  needs:
  - wts: "*"
  - manifestservice: "*"
  #sower requires guppy 
- sower: "*"
  needs:
  - guppy: "*"