name: PyPI
on:
  push:
    tags:
      - '*'
jobs:
  PyPIPoetryPublish:
    name: PyPI Poetry Publish
    uses: uc-cdis/.github/.github/workflows/python_package_index_publish.yaml@master
    with:
        PYTHON_VERSION: '3.13'
        # the package was registered under someone's personal test-pypi account, so we
        # can't push there
        DO_TEST_PUBLISH_FIRST: false
    secrets:
      PYPI_PROD_API_TOKEN: ${{ secrets.PYPI_PROD_API_TOKEN }}
